<div class ="jumbotron">
  <div class="container">
    <h1 style="font-family:Segoe Print Bold; font-size:48px;" >wanico no coniwa</h1>
  </div>
</div>
<!--
<div class="container">
  <div class="alert alert-block alert-error fade in" style="margin-top:20px; width:auto; ">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">！</h4>
  </div>
</div>
--!>
<div class="row">
  <div class="span10 offset2">
    <select style="margin-top:40px;">
      <option>はまじょたん！</option>
      <option>まつじゅん！</option>
      <option>たっきー！</option>
      <option>はっせー！</option>
      <option>わにこ！</option>
    </select>
    <div class="control-group" style="margin-top:20px;">
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password" style="font-family:Segoe Print Bold; " >
      </div>
    </div>
    <div class="control-group" style="margin-top:20px;">
      <div class="controls">
        <button type="submit" class="btn btn-inverse" style="font-family:Segoe Print Bold; font-size:16px; " >Sign in</button>
      </div>
    </div>
  </div>
</div>

